.navcolor{
	background-color: #0FF3C8;
}

.icon{
	color: black;
}

.background{
	background-color: #CAF3D5;

}

.header{
	background-color: #0FF3C8;
	margin-left: 10px;
	padding:25px;
}
.image{
	padding:25px;
}
.text1{
	display: flex;
	justify-content: flex-start;
  
}
.text2{
	display:flex;
	justify-content: flex-end;
}
.color{
	background-color: #CAF3D5;
	height:100vh;
}